.profile-container {
  background: white;
  border-radius: 10px;
  border-style: 1px solid;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: max-content;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px grey;
  justify-content: center;

  align-items: center;
  position: relative;
  box-sizing: border-box;

  margin-bottom: 8vh;
  margin-top: 100px;

  position: sticky;

  .row {
    align-items: center;
  }
}

.shadow-lg {
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

input {
  border-radius: 5px;
  border-color: hsl(220, 92%, 53%);
  font-style: italic;
  font-weight: lighter;
  color: grey;
  font-size: medium;
}

.update-btn {
  justify-content: center;
  align-items: center;
}

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   background-color: #222229;
// }

@media screen and (min-width: 720px) {
  .profile-container {
    // margin-left: 10vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }
}
