button {
  // margin: 1rem;
  // margin-top: 15px;
  // color: white;
  font-weight: bolder;
  background-color: var(--PrimaryColor);
  width: 100px;
  // height: 35px;
  padding: 0.6rem;
  border-radius: 6px;

  border: none;
}
