:root {
  --primary: #0091ff;
  --dark: #061b28;
  --gray: #756388;
  --light: #ffffff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease;
}

/* Colors */
/* :root {
  --PrimaryColor: hsl(293, 100%, 70%);
  --HoverColor: hsl(293, 90%, 60%);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(0, 0%, 5%);
  --TextColor: hsl(273, 100%, 65%); */
/* --TextColor: hsl(273, 100%, 0%);
  --WhiteColorDeam: hsl(0, 0%, 90%);
  --GreyBg: hsl(0, 0%, 95%);
  --GreyText: rgb(190, 190, 190); */
/* --InputColor: hsl(330, 12%, 97%); */
/* box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334); */
/* } */

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
  color: orange;
}
.btn:hover a {
  color: var(--WhiteColor);
}

.secIntro {
  max-width: 70%;
  text-align: center;
  margin: 0 auto 2rem;
}

.secIntro .secTitle {
  color: var(--BlackColor);
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}

.secIntro p {
  font-size: 13px;
  color: var(--TextColor);
  font-weight: 500;
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

@media screen and (min-width: 556px) {
  .mainContent {
    /* grid-template-columns: repeat(2, 1fr); */
  }
}
