.navBarSection {
  margin-right: 90%;
  justify-content: center;
  align-items: "right";
  width: 100%;
  display: flex;

  .header {
    display: flex;
    justify-content: space-between;
    background: transparent;
    width: 100%;
    padding: 0.5rem;
    z-index: 20;
    position: fixed;
    top: 0;
    background: hsl(201, 92%, 63%);
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);

    .logoDiv {
      padding-left: 1rem;

      .logo {
        color: var(--WhiteColor);

        font-weight: 500;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        .icon {
          color: white;
          font-size: 30px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .navBar {
        background: var(--GreyBg);
        position: absolute;
        height: max-content;
        padding: 0.5rem;
        width: fit-content;
        top: 0;
        left: -500%;
        margin-right: 0;
        box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
        transition: 0.5s ease;
        z-index: 2;
        box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);

        .navLists {
          flex-direction: column;
          justify-content: center;
          width: 100%;
          margin: auto;
          text-align: left;
          padding: 10px;

          .navItem {
            padding: 1rem 0;

            .navLink {
              color: var(--TextColor);
              font-size: 0.9rem;
              font-weight: 600;
              &:hover {
                color: var(--HoverColor);
              }
            }
          }
          .headerBtns {
            flex-direction: column;
            .btn {
              margin-top: 1rem;

              a {
                font-weight: 600;

                &:hover {
                  color: var(--WhiteColor);
                }
              }
            }
            .loginBtn {
              background: none;
              border: 1px solid var(--PrimaryColor);
              width: max-content;

              a {
                color: var(--PrimaryColor);
              }
              &:hover {
                background: var(--HoverColor);

                a {
                  color: var(--WhiteColor);
                }
              }
            }
          }
        }
        .closeNavbar {
          position: absolute;
          top: 1rem;
          right: 1.5rem;
          color: var(--PrimaryColor);
          &:hover .icon {
            color: var(--HoverColor);
          }
        }
      }

      .activeNavbar {
        left: 0;
        width: 100%;
      }
    }

    .toggleNavBar {
      .icon {
        font-size: 25px;
        color: var(--PrimaryColor);
        &:hover {
          color: var(--HoverColor);
        }
      }
    }
  }

  // .activeHeader {
  //   background: hsl(273, 100%, 75%);
  //   box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
  // }
}

@media screen and (min-width: 769px) {
  .navBarSection {
    display: flex;
    .logoDiv {
      align-items: center;
      justify-content: center;
    }
    .toggleNavbar,
    .closeNavbar {
      display: none;
    }
    .header {
      padding: 1.5rem 3rem;
      height: 100px;

      .navBar {
        .navLists {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          margin-top: -10px;
          .navItem {
            .navLink {
              color: var(--WhiteColor);
              padding: 0 0.45rem;
              font-size: 0.9rem;
              font-weight: bolder;
            }
          }

          .headerBtns {
            .btn {
              margin-top: 1rem;
              margin-left: 1rem;

              a {
                font-weight: 600;
                color: white;

                &:hover {
                  color: var(--WhiteColor);
                }
              }
            }
            .loginBtn {
              width: max-content;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 1 8.5rem !important;
  }
}

.option-navbar {
  display: none;
}
.option-open li {
  padding: 10px 15px;
  margin-right: 0px;
}
.option-open {
  display: block;
  position: absolute;
  top: 40px;
  width: 100%;
  background: #fff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
}
