:root {
  --PrimaryColor: hsl(46, 100%, 56%);
  // --HoverColor: hsl(46, 69%, 44%);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(0, 0%, 5%);
  --TextColor: hsl(273, 100%, 0%);
  --WhiteColorDeam: hsl(0, 0%, 90%);
  --GreyBg: hsl(0, 0%, 95%);
  --GreyText: rgb(190, 190, 190);
  --InputColor: hsl(330, 12%, 97%);
}

.home {
  height: 95vh;
  background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)),
    url(../../assets/pexels-jean-van-der-meulen-1457842.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  .secContainer {
    margin-top: 100px;

    .homeText {
      .title {
        color: var(--WhiteColor);
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.5rem;
        margin-left: 1rem;
      }
      .subTitle {
        color: var(--WhiteColor);
        opacity: 0.9;
        font-size: 13px;
        font-weight: 300;
        padding: 1rem 0;
        max-width: 100%;
        margin: auto;
        margin-left: 1rem;
      }
      .btn {
        padding: 0.6rem 1.5rem;
        margin-bottom: 15px;
      }
    }
    .homeCard {
      border-radius: 1rem;
      padding: 2rem;
      background: var(--WhiteColor);
      position: relative;
      gap: 1rem;
      transform: translate(-50%);
      left: 50%;
      box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
      margin-bottom: -400px;

      .locationDiv,
      .distDiv,
      .priceDiv {
        width: 100%;

        label {
          display: block;
          color: var(--TextColor);
          font-weight: 500px;
          font-size: 13px;
          padding-bottom: 0.4rem;
        }
        input {
          width: 100%;
          background: var(--InputColor);
          border-radius: 10px;
          border: none;
          padding: 10px;
          font-size: 13px;
          font-weight: 500;

          &::placeholder {
            font-size: 13px;
            opacity: 0.5;
            font-weight: 400;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .btn {
        // width: 90%;

        padding: 0.6rem 1.5rem;
        color: var(--WhiteColor);
        font-weight: 600;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .home {
    .secContainer {
      .homeCard {
        bottom: -10px;
        // width: 90%;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (min-width: 556px) {
  .home {
    .secContainer {
      .homeText {
        .title {
          font-size: 2.5rem;
        }
        .subTitle {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .home {
    .secContainer {
      .homeText {
        padding: 1rem 10rem;
        .title {
          font-size: 3.5rem;
          margin: auto;
          line-height: 4rem;
        }
        .subTitle {
          width: 70%;
        }
      }
    }
  }
}
