.popular {
  // margin-bottom: 50px;
  // width: 30vw;

  .secContainer {
    .secHeader {
      flex-direction: row;
      align-items: flex-start;
      gap: 1rem;

      .textDiv {
        .secTitle {
          color: var(--BlackColor);
          line-height: 1.5rem;
          padding-bottom: 0.5rem;
        }
        p {
          font-size: 13px;
          color: var(--TextColor);
          font-weight: 500;
        }
      }
      .iconsDiv {
        gap: 0.5rem;
        .icon {
          padding: 0.5rem;
          background: var(--GreyText);
          border-radius: 50%;
          font-size: 2.5rem;
          &:hover {
            background: var(--BlackColor);
            column-rule: var(--WhiteColor);
          }
        }
        .leftIcon {
          background: var(--BlackColor);
          color: var(--WhiteColor);
          &:hover {
            background: var(--GreyText);
            color: var(--BlackColor);
          }
        }
      }
    }
    .mainContent {
      padding: 2rem 0;
      margin-top: -100px;
      gap: 1rem;
      // margin-bottom: -100px;
      max-width: 500;

      .singleDestination {
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: 0 5px 8px 5px rgba(178, 178, 178, 0.334);
      }
      .destImage {
        height: 200px;
        width: 100%;
        position: relative;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        .overlayInfo {
          // position: sticky;
          // display: table-caption;
          // align-items: flex-start;
          // justify-content: center;
          // padding: 1rem 1.5rem;
          // font-size: 15px;
          // text-align: justify;
          // // flex-direction: column;
          // background: linear-gradient(
          //   rgba(0, 0, 0, 0.846),
          //   rgba(0, 0, 0, 0.759)
          // );
          bottom: 0;
          width: 15vw;
          height: 300px;
          overflow: hidden;
          h3 {
            color: var(--WhiteColor);
            font-weight: 600;
          }
          p {
            color: var(--WhiteColor);
            opacity: 0.7;
            font-size: 13px;
          }
          .icon {
            position: absolute;
            right: 10px;
            bottom: 10px;
            padding: 0.5rem;
            background: var(--WhiteColor);
            font-size: 2.5rem;
            border-radius: 50%;
            color: var(--PrimaryColor);
            border: 1px transparent;
            transition: 0.3s ease;
            // &:hover {
            //   background: var(--BlackColor);
            //   border: 1px solid var(--PrimaryColor);
            //   color: var(--PrimaryColor);
            // }
          }
        }
      }
      .destFooter {
        padding: 1rem;
        .number {
          font-size: 2rem;
          font-weight: 700;
          color: var(--BlackColor);
          position: relative;
          width: max-content;
          &::after {
            content: "";
            position: absolute;
            background: var(--PrimaryColor);
            top: 45%;
            right: -150%;
            height: 5px;
            width: 45px;
            border-radius: 1rem;
          }
        }
        .destText {
          justify-content: center;

          h6 {
            color: var(--BlackColor);
            font-size: 15px;
          }
          .flex {
            font-size: 16px;
            display: flex;
            align-items: center;
            transform: translateY(5px);
            .icon {
              color: var(--PrimaryColor);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .popular {
    width: 30vw;

    .secContainer {
      .mainContent {
        // display: grid;
        .singleDestination {
          // display: grid;

          // grid-template-columns: repeat(2, 1fr);
          .destImage {
            height: 400px;
            width: 100%;
            position: relative;
            overflow: hidden;
            // border: 2px solid red;
            background-size: cover;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
